<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deway.blog.mapper.BackGroundImageMapper">

  <resultMap id="BaseResultMap" type="BackGroundImage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_path_id" jdbcType="BIGINT" property="fileRecordId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="fileRecord" javaType="com.deway.blog.entity.FileRecord"
                 resultMap="com.deway.blog.mapper.FileRecordMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    id as id, file_record_id as fileRecordId, create_time as createTime
  </sql>

  <insert id="create" keyColumn="id" keyProperty="id" parameterType="com.deway.blog.entity.BackGroundImage" useGeneratedKeys="true">
    insert into back_ground_image (file_path_id)
    values (#{fileRecordId,jdbcType=BIGINT})
  </insert>

  <select id="findById" resultType="com.deway.blog.entity.BackGroundImage" resultMap="BaseResultMap">
    select A.file_path_id as filePathId, B.path as path
    from back_ground_image A join file_record B on(A.file_path_id=B.id)
    where id = #{id}
  </select>

</mapper>